html
  head
    title='Admin'
    meta(name="viewport", content="width=device-width, initial-scale=1.0")/
    <link rel="icon" href="/assets/favicon.ico">
  body
    h1 Lorans Admin
    unless gameStart
        form(name="start" action="/api/start" method="get" style={display: 'flex', 'align-items': 'center', 'justify-content': 'center'})
            div(style={display: 'flex', 'flex-direction': 'column', margin: '4px'})
                label(for="starterPlayerId" style={margin: '2px'}) Starter Player
                select(name="starterPlayerId")
                    each player in players
                        option(value=player.id)= player.name
            div(style={display: 'flex', 'flex-direction': 'column', margin: '4px'})
                label(for="trump") Trump Suit
                select(name="trump")
                    option(value="heart") Hearts ❤️
                    option(value="diamond") Diamonds ♦️
                    option(value="club") Clubs ♣️
                    option(value="spade") Spades ♠️
            button(type="submit" style={"margin-top": '18px'}) Submit

        // add a div to display a dividing line
        div(style={border: '1px solid black', margin: '8px 0px'})
        
        form(name="restart" action="/api/game-over" method="get" style={display: 'flex', 'align-items': 'center', 'justify-content': 'center'})
            div(style={display: 'flex', 'flex-direction': 'column', margin: '4px'})
                label(for="reset") Restart Game
                select(name="reset")
                    option(value="true") New Game
                    option(value="false") Next Round
            div(style={display: 'flex', 'flex-direction': 'column', margin: '4px'})
                label(for="playerCount") Winner
                input(type="number" name="playerCount" value="6" style={'max-width': '90px'} min='2' max='6')
            button(type="submit" style={"margin-top": '18px'}) Submit